/* 共通部分 */
.wrapper {
  display: flex;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.header {
  display: flex;
  height: 45px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #e7e9e8;
  border-bottom: solid 1px #cccccc;
}

.header-title {
  width: 300px;
  display: flex;
  padding-left: 20px;
}

.header-user {
  display: flex;
  align-items: flex-end;
  list-style: none;
  padding-right: 10px;
}

.header-user-link {
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding: 0 10px;
}

.side-bar {
  height: calc(100vh - 30px);
  width: 280px;
  padding: 10px 0 0 20px;
  background-color: #f7f9f8;
  border-right: solid 1px #dddddd;
}

.side-bar-li {
  line-height: 40px;
}

h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 30px;
  color: #333333;
}

/* メイン画面 */
.main {
  width: calc(100vw - 280px);
  padding: 10px;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fefefe;
}

h2 {
  font-size: 24px;
  padding-bottom: 20px;
  color: #333333;
}

.new-data-btn {
  display: block;
  padding-bottom: 20px;
}

/* 一覧表示 */
table {
  border-collapse: collapse;
}

tr:hover td {
  background-color: #fffedd;
}

th {
  padding: 3px 5px;
  border: solid 1px #999999;
  background-color: #f5f9fe;
  text-align: center;
  min-width: 39px;
}

td {
  padding: 3px;
  border: solid 1px #999999;
}

.td-count {
  text-align: center;
}

.td-client {
  min-width: 100px;
  padding: 0 10px;
}

.td-service {
  min-width: 100px;
  padding: 0 10px;
}

.td-user {
  min-width: 100px;
  padding: 0 10px;
}

.td-license {
  min-width: 100px;
  text-align: right;
  padding: 0 10px;
}

.td-price {
  min-width: 100px;
  text-align: right;
  padding: 0 10px;
}

.td-date {
  min-width: 100px;
  text-align: center;
  padding: 0 10px;
}

.td-phone {
  min-width: 100px;
  text-align: center;
  padding: 0 10px;
}

.td-mail {
  min-width: 100px;
  padding: 0 10px;
}

.td-note {
  min-width: 100px;
  padding: 0 5px;
}

summary {
  color: #333333;
}

.space {
  height: 100px;
}

/* 新規登録フォーム&編集フォーム */
.form-new,
.form-edit {
  padding-left: 10px;
}

.form-label {
  display: block;
  padding-top: 10px;
}

.form-note {
  height: 100px;
  width: 300px;
  padding: 2px;
}

.form-btn {
  display: block;
  margin-top: 15px;
  padding: 2px 20px;
}
