/* 共通部分 */
.wrapper {
  display: flex;
}

.header {
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #fff0ff;
}

.header-title {
  height: 100%;
  width: 300px;
  display: flex;
  padding-left: 20px;
}

.header-user {
  display: flex;
  align-items: flex-end;
  list-style: none;
  padding-right: 10px;
}

.header-user-link {
  padding: 0 10px;
}

.side-bar {
  height: calc(100vh - 30px);
  width: 300px;
  padding: 10px 0 0 20px;
  background-color: #fffff0;
}

.side-bar-li {
  line-height: 50px;
}

h1 {
  font-size: 24px;
  padding-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* メイン画面 */
.main {
  width: calc(100vw - 300px);
  padding: 10px;
  background-color: #f0ffff;
}

h2 {
  font-size: 24px;
  padding-bottom: 20px;
}

.new-data-btn {
  display: block;
  padding-bottom: 20px;
}

/* 一覧表示 */
table {
  border-collapse: collapse;
}

th {
  padding: 3px 5px;
  border: solid 1px #999999;
  text-align: center;
}

td {
  padding: 3px;
  border: solid 1px #999999;
}

.td-client {
  min-width: 100px;
  padding: 0 10px;
}

.td-service {
  min-width: 100px;
  padding: 0 10px;
}

.td-user {
  min-width: 100px;
  padding: 0 10px;
}

.td-license {
  min-width: 100px;
  text-align: right;
  padding: 0 10px;
}

.td-price {
  min-width: 100px;
  text-align: right;
  padding: 0 10px;
}

.td-date {
  min-width: 100px;
  text-align: center;
  padding: 0 10px;
}

.td-phone {
  min-width: 100px;
  text-align: center;
  padding: 0 10px;
}

.td-mail {
  min-width: 100px;
  padding: 0 10px;
}

.td-note {
  min-width: 100px;
  padding: 0 5px;
}

/* 新規登録フォーム&編集フォーム */
.form-new,
.form-edit {
  padding-left: 10px;
}

.form-label {
  display: block;
  padding-top: 10px;
}

.form-note {
  height: 100px;
  width: 300px;
  padding: 2px;
}

.form-btn {
  display: block;
  margin-top: 15px;
  padding: 2px 20px;
}
